@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #000;
}
nav{
    width: 100%;
    height: 10vh;
    position: sticky;
display: flex;
justify-content: space-around;
align-items: center;
margin-left: 10px;
}

.logo{
    color: antiquewhite;
    font-size: 2rem;
    font-weight: bold;
    margin-left:75px ;
}
.logo span{
    color: hwb(180 5% 15%);
   
}
.hamburg
.cancel{
  cursor: pointer;
  /* position: absolute; */
  right: 15px;
  top: 10px;
  color: rgb(52, 6, 6);
  /* display: block; */
  font-size: 40px;  
}
 .links{
    display: flex;
}
 .links a{
    position: relative;
    font-size: 1.2rem;
    color: aliceblue;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}
.links a::before{
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color:  hwb(180 4% 34%);
transition: 0.2s linear;}
.links a:hover{
    color:  hwb(180 20% 79%);
}
.dropdown{
    z-index: 100;
    position:absolute;
    top: 0;
    transform: translateY(0px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px rgb(196, 188, 188);
    transition: 0.2s inherit;
    display: none;
}
 .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    transition: 0.2s linear;
    align-items: center;
    padding: 15px 0;
}
.links a:hover{
    background-color: hwb(180 0% 0%);
}
.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    transition: 0.2s linear;
    align-items: center;
    padding: 15px 0;
}
.dropdown .links a:hover{
    background-color: hwb(180 0% 0%);
}


/* .main-container .image:hover{
    animation: animate 1.5s ease-in-out;
}
@keyframes animate{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.05;
    }
    100%{
        scale: 1.05; 
    }
} */

 @media (max-width:884px){
    .logo{
        position: absolute;
        top:16px;
        left:15px;
        font-size: 1.5rem;
    }
  
} 
@media(max-width:440px) {
  
    
    
} 
